.header__navlink {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: white;
  text-decoration: none;
  transition: opacity 0.4s ease-out;
}

.header__navlink:hover {
  opacity: 0.6;
}

.header__navlink:focus {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .header__navlink {
    font-size: 18px;
  }
}
