.header__exitBtn {
  padding: 0;
  margin: 9px 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
  color: #a9a9a9;
  background: unset;
  border: unset;
}
